.setContainer {
    border: 1px solid #edf8f8;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    padding: 14px;
    background-color: white;
}

.title {
    font-weight: 700;
    margin-top: 25px;
}

.desc {
    font-size: small;

}

.count {
    font-size: small;
}

.viewCardBtn {
    border: 1px solid red;
    color: red;
    font-weight: 500;
    font-size: small;
    width: 125px;
    margin-top: 10px;
    border-radius: 5px;
}

.groupImg {
    width: 40px;
    height: 40px;
    position: relative;
    right: -27%;
    top: 25px;
    border-radius: 50%;
    background-color: #edf8f8;
}