body {
  background-color: #e0dcd8;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tabsPanel {
  display: flex;
  border-bottom: 1px solid gray;
}

.tab {
  padding: 0px 10px;
  margin-bottom: -2px;
}

.select-tab {
  color: red;
  border-bottom: 2px solid red;

}

.BtnContainer {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.CreateFlashcardBtn{
  background-color: #ef3030;
  color: white;
  font-size: small;
  font-weight: 600;
}